For the first milestone, you should finish some of the work for your project and write up your preliminary method and results. In particular you should work on the following:

- Make progress on the suggested next steps we left for you on your project proposal.
- Finish collecting any datasets that you need and make sure they are in a format that you know how to process.
- If your project involves doing text parsing with tools like AllenNLP, do some experiments to see whether the parsing you want to do is feasible.
- If your project involves training/fine-tuning a neural network, try training some preliminary models and observing the outputs.
- If your project involves a user experience of some sort, create a real mock-up of the user interface (even if it’s not fully functional/feature-complete yet).
